.registered-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.registered-container h2 {
  margin-bottom: 20px;
}

.registered-card {
  background: white;
  padding: 18px;
  border-radius: 22px;
  margin-bottom: 15px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.10);
}

.registered-card h3 {
  margin-bottom: 4px;
}

.ticket-btn {
  display: inline-block;
  margin-top: 12px;
  padding: 10px 16px;
  background: #4b7bec;
  color: white;
  border-radius: 20px;
  text-decoration: none;
}

.ticket-btn:hover {
  background: #3867d6;
}
